.sparkle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
  opacity: 0;
  z-index: 10000;
}

.craneRangeText
{
  position: absolute;
  font-family: "Luckiest Guy";
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 3px green;
  text-align: center;
  white-space: nowrap;
  z-index: -100;
}

#message {
  position: absolute;
  visibility: hidden;
  font-family: "Luckiest Guy";
  font-size: 50px;
  color: red;
  -webkit-text-stroke: 3px white;
  text-align: center;
  display: flex;
  z-index: 100;
}

#container
{
  position: absolute;
  display: flex;
  width: 1920px;
  height: 1080px;
  text-align: center;
  align-items: center;
  justify-content: center; 
}

#craneContainerPos
{
  position: relative;
  display: flex;
  justify-content: center;
  height: 1200px;
  width: 300px;
  bottom: 0px;
  transform: translateX(craneStartPos);
  --craneStartPos: 0px;
  --craneTargetPos: 0px;
}

#craneContainerRot
{
  position: relative;
  display: flex;
  justify-content: center;
  height: 1200px;
  width: 300px;
  bottom: 0px;
  transform-origin: center top;
}

#craneLeftClaw
{
  position: absolute;
  height: 300px;
  width: 200px;
  bottom: -225px;
  left: -53px;
  transform-origin: right top;
}

#craneRightClaw
{
  position: absolute;
  height: 300px;
  width: 200px;
  bottom: -225px;
  right: -53px;
  transform-origin: left top;
}

#craneBase
{
  position: absolute;
  display: flex;
  justify-content: center;
  height: 1600px;
  width: 400px;
  bottom: -300px;
}

#craneItem
{
  visibility: visible;
  position: absolute;
  height: 250px;
  width: 250px;
  bottom: -300px;  
  transform-origin: 50% 33%;
  animation: dangle 3s ease-in-out infinite forwards;
}

@keyframes rotateLeftClaw {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(35deg);
  }
}

@keyframes rotateRightClaw {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(-35deg);
  }
}

@keyframes moveBase { 
  0% {
    transform: translateX(var(--craneStartPos)) translateY(-900px);
  }
  100% {
    transform: translateX(var(--craneTargetPos)) translateY(-900px);
  }
}

@keyframes rotateBaseL { 
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes pendulumBaseL {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateBaseR { 
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes pendulumBaseR {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes dropClaw {
  0% {
    transform: translateX(var(--craneTargetPos)) translateY(-900px);
  }
  100% {
    transform: translateX(var(--craneTargetPos)) translateY(0px);
  }
}

@keyframes dangle {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.lightCenter {
  animation: pulse 3s ease-in-out infinite;
  transform-origin: 50% 50%;
  z-index: 100;
}

.lightRaysB {
  animation: spin-cw 13s linear infinite;
  opacity: 50%;
  transform-origin: 50% 50%;
  z-index: 3;
}

.lightRaysA {
  animation: spin-ccw 7s linear infinite;
  opacity: 50%;
  transform-origin: 50% 50%;
  z-index: 3;
}

@keyframes pulse {
  0%, 100% { transform: scale(1.2); }
  50% { transform: scale(1.5); }
}
@keyframes spin-cw {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes spin-ccw {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

#craneRangeDisplay
{
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 1080px;
  width: 1920px;
}

#displayContainer
{ 
  position: absolute;
  display: flex; 
  width: 500px;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform-origin: bottom left;
}

.displayText
{
  position: absolute;
  visibility: visible;
  font-family: "Luckiest Guy";
  font-size: 50px;
  color: white;
  width: fit-content;
  height: fit-content;
  -webkit-text-stroke: 3px blue;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

#lightContainer {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
  z-index: 0;
  animation: pulse 7s ease-in-out infinite;
}

#lightContainer svg {
  width: 100%;
  height: 100%;
}

#displayItem
{  
  display: block;
  position: relative;
  visibility: hidden;
  font-family: "Luckiest Guy";
  font-size: 50px;
  color: white;
  width: 100%;
  height: 50px;
  -webkit-text-stroke: 3px blue;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#displayImage {
  visibility: hidden; 
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

#displayUser
{
  font-family: "Luckiest Guy";
  font-size: 50px;
  color: white;
  display: block;
  position: relative;
  visibility: hidden;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.displayAnimation {
  animation: display .8s ease-in-out, breathe 5s ease-in-out infinite;
  animation-delay: 0ms, 800ms;
}

@keyframes display {
  0% { transform: scale(.1, .1); opacity: 0%; }
  80% { transform: scale(1.5, 1.5); opacity: 100%; }
  100% { transform: scale(1,1); }
}

@keyframes breathe {
  0% { transform: translate(0, 0) scale(1, 1); }
  50% { transform: translate(0, -3%) scale(1.03, .97); }
  100% { transform: translate(0, 0) scale(1,1); }
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1, 1.3);
  }
  100% {
    opacity: 0;
    transform: scale(.8, .8);
  }
}
